<div class="d-flex align-items-center justify-content-center">

<h1> Welcome to Series Data </h1>
</div>

<div class="row justify-center">
    <div class="col">
        <a href="/series?id=Better_Call_Saul">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Better_Call_Saul_-_Logo_2.svg/250px-Better_Call_Saul_-_Logo_2.svg.png" width="250" height="37">
        </a>
    </div>

    <div class="col">
        <a href="/series?id=Breaking_Bad">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Breaking_Bad_logo.svg/250px-Breaking_Bad_logo.svg.png" width="250" height="149">
        </a>
    </div>
</div>

