<h1> This is the info for <%= @serie_elegida %> </h1>


<div id="dropdown" role="tablist" aria-multiselectable="true">
    <% @seasons.each_with_index do |season, index| %>
    <%= render :partial => "season", locals: { season: season, index: (index + 1).to_s}%>
    <% end %>
</div>

