<h1> This is the main thing </h1>

<div id='headers'>
    <%= @serie_elegida %>
</div>

<div id="dropdown" role="tablist" aria-multiselectable="true">
    <% @seasons.each do |season| %>
    <%= render :partial => "season", locals: { season: season }%>
    <% end %>
</div>

